@model List<SurveyResult>
@{
    ViewData["Title"] = "SurveyResults";
}

<body class="body">
    <div class="maindiv">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Park Name</th>
                    <th>Survey Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {

                    <tr>
                        <td>
                            <a asp-controller="home" asp-action="parkdetails" asp-route-parkcode="@result.ParkCode">
                                <img src="~/images/parks/@(result.ParkCode).jpg" id="surveyimage" align="right" />
                            </a>
                        </td>

                        <td>@result.ParkName</td>
                        <td>@result.SurveyCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>


