@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');






/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.body {
    padding-bottom: 20px;
    background-color: forestgreen;
    font-family: Dosis;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#navbar {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: groove !important;
    background-color: navajowhite;
}

ul.nav a {
    color: forestgreen !important;
}

    ul.nav a:hover {
        color: lightseagreen !important;
    }

.topbanner {
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    background-color: forestgreen;
}

.topbannerlogo {
    height: 100px;
}

.maindiv {
    width: 1000px;
    background-color: navajowhite;
    padding: 25px;
    margin: 0 auto;
    border: groove !important;
    border-color: black;
    border-radius: 15px;
    color: darkgreen;
    font-family: Dosis;
    font-size:large;
}

.parkdetailscontainer {
    display: flex;
    flex-direction: row;
    width: 950px;
    border-bottom: groove;
    margin-bottom: 35px;
}

.homeimagediv {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 20px;
    width: 400px;
    height: 265px;
}

    .homeimagediv:hover {
        box-shadow: 0 0 50px 0 forestgreen;
        border-radius: 20px;
    }

.homeimage {
    border-radius: 25px;
    margin-bottom: 30px;
    width: 400px;
}

.homeparkdesc {
    display: inline-block;
    align-self: flex-end;
    width: 450px;
    margin-bottom: 35px;
    margin-left: 20px;
}

.forecastcontainer {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.parkimage {
    width: 100%;
    border-radius: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.parkname {
    font-size: 4rem;
}

.parkdetails {
    font-size: 2rem;
    grid-area: parkdetails;
}

.weatherday {
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
}

.firstforecast {
    position: relative;
    display: inline-block;
    display: flex;
    align-content: space-between;
    border: ridge;
    border-radius: 15px;
    flex-direction: column;
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
}

.secondforecast {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: ridge;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.thirdforecast {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: ridge;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.fourthforecast {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: ridge;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.fifthforecast {
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: ridge;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

#forecasttext {
    font-size: 1.4rem;
    font-weight: initial;
}

#forecastwarning {
    font-size: .9rem;
    color: red;
    font-style: italic;
}

#firstday {
    width: 150px;
    align-self: center;
}

#restofweek {
    width: 100px;
    align-self: center;
}

#forecasttext {
    font-size: 1.4rem;
    font-weight: initial;
    text-align: center;
}

#surveyimage {
    width: 125px;
    border-radius: 50%;
}

#forecastwarning {
    font-size: .9rem;
    color: red;
    font-style: italic;
    text-align: center;
}


#park-survey-table {
    width: 800px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-top: hidden !important;
}

td {
    border-bottom: hidden !important;
    border-top: hidden !important;
}

#preferencebutton {
    font-size: 1.1rem;
}

#survey-table {
    background-color: navajowhite;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

#survey-header {
    text-align: center;
    color: darkseagreen;
    font-family: Indie Flower;
    font-size: xx-large;
    text-shadow: 5px 5px 11px #4a2e10;
}

#survey-row-names {
    text-shadow: 3px 3px 7px #876c17;
    font-family: Indie Flower;
    font-size: x-large;
}

#survey-results-header {
    font-family: Indie Flower;
    font-size: larger;
    font-weight: bold;
    
}

#indie-flower {
    font-family: indie flower;
    font-weight: bold;
    text-shadow: 5px 5px 11px #4a2e10;
}