/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.topbanner {
    height: 100px;
    width: 100%;
    background-color: forestgreen;
}

.topbannerlogo {
    height: 100px;
}


.flexcontainerhome {
    display: flex;
    flex-flow: row wrap;
    width: 1000px;
    min-width: 1000px;
}

.homeimagediv {
    display: inline-block;
    align-self: flex-start;
    margin-bottom: -65px;
    height: 400px;
    width: 400px;
}

.homeimage{
    width: 400px;
}

.homeparkdesc{
    padding-top: 0px;
    display: inline-block;
    align-self: flex-end;
    margin-left: 100px;
    margin-bottom: -65px;
    height: 400px;
    width: 400px;
}

.detailcontainer{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "parkname"
                         "parkdetails"
                         "forecast1, forecast2, forecast3, forecast4, forecast5"                            
}

.parkimage{
    width: 100%;
}

.parkname{
    font-size: 4rem;
    grid-area: parkname;
}

.parkdetails{
    font-size: 2rem;
    grid-area: parkdetails;
}

.firstforecast{
    grid-area: forecast1;
}

.secondforecast{
    grid-area: forecast2;
}

.thirdforecast{
    grid-area: forecast3;
}

.fourthforecast{
    grid-area: forecast4;
}

.fifthforecast{
    grid-area: forecast5;
}

